<!-- Include Header -->
<%- include('include/_header')%>
    <!-- /Include Header -->

    <!-- Include Main Navbar -->
    <%- include('include/_Main-navbar')%>
        <!-- /Include Main Navbar -->

        <main>
            <div class="banner">
                <div class="hid"></div>
                <div class="container pt-5 main-container ">
                    <span>
                        <strong class="purpel-text">SIGNUP</strong>
                    </span>
                    <div class="alert alert-primary px-4 mx-5" role="alert">
                        All details is mandatory.
                    </div>
                    <!-- Include Form -->
                    <%- include('include/_Admin_form')%>
                        <!-- /Include Form -->
                </div>

            </div>
        </main>

        <!-- Include Footer -->
        <%- include('include/_footer')%>
            <!-- /Include Footer -->