<!-- Form Handaling -->
<form action="/user/AddTenament/<%= User._id %> " method="POST" id="add_user">
    <div class="new_user">
        <div class="from-group">
            <label for="Tenment" class="txt-dark">Add New Tenment<span class="redTick"> *</span></label>
            <input type="text" name="Tenment" value="" placeholder="111-A-11-1111-1-111">
        </div>
        <div class="from-group">
            <!-- <div class="signUp-btn mt-3">
                <a class="shadow-sm" href="/user/api/AddTenament">Submit</a>
            </div> -->
            <button type="submit" class="btn btn-outline-warning">Submit</button>
        </div>
    </div>
</form>
<!-- /Form Handaling -->