<!-- Form Handaling -->
<form action="/admin/api/Login" method="POST" id="add_user">
    <div class="new_user">
        <div class="from-group">
            <label for="email" class="txt-dark">Email<span class="redTick"> *</span></label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="from-group">
            <label for="password" class="txt-dark">Password<span class="redTick">
                    *</span></label>
            <input type="password" name="password" value="" placeholder="Enter the password">
        </div>
        <a href="/forgotPage/0" class="forgot">Forgot your password?</a>
        <% if (alert) { %>
            <div class="alert alert-danger" role="alert">
                Please enter proper details.
            </div>
            <% } %>
                <div class="from-group">
                    <button type="submit" class="btn btn-outline-warning">Submit</button>
                </div>
    </div>
</form>
<!-- /Form Handaling -->