<div class="new_user">
    <div class="from-group">
        <label for="email" class="txt-dark">Email<span class="redTick"> *</span></label>
        <input type="text" name="email" value="" placeholder="example@gmail.com">
    </div>
    <div class="from-group">
        <button type="submit" id="forgot" onclick="Forgot()" class="btn btn-outline-warning">Submit</button>
    </div>
</div>