<!-- Form Handaling -->
<form action="/user/api/login" method="POST" id="add_user">
    <div class="new_user">
        <div class="from-group">
            <label for="email" class="txt-dark form-label">Email<span class="redTick"> *</span></label>
            <input type="text" class="form-control" name="email" value=""
                placeholder="example@gmail.com">
        </div>
        <div class="from-group">
            <label for="password" class="txt-dark form-label">Password<span class="redTick">
                    *</span></label>
            <input type="password" class="form-control" name="password" value=""
                placeholder="Enter the password">
        </div>
        <a href="/forgotPage/1" class="forgot">Forgot your password?</a>
        <% if (alert) { %>
            <div class="alert alert-danger mt-2" role="alert">
                Please enter proper Details.
            </div>
            <% } %>

                <div class="from-group">
                    <button type="submit" class="btn btn-outline-warning">Submit</button>
                </div>
    </div>
</form>
<!-- /Form Handaling -->
