<!-- Navbar -->
<nav class="container navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/DDO.jpg" alt="Bootstrap" width="65px" height="65px">
        </a>
        <a class="navbar-brand" href="#">Tax Collection</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Online Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Contact</a>
                </li>
                <div id="google_translate_element"></div>
            </ul>
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <% if (title !="Sign Up" && title !="Home" && title !="Login" && title !="Payment Success" &&
                        title!="Payment Success" && title!="Payment Fail" && title!="Forgot Page" ) { %>
                        <% if (!User.code) { %>
                            <a class="nav-link logout-btn" onclick="logout()" href="/admin/logout"><i
                                    class="fa-solid fa-arrow-right-from-bracket"></i>
                                Logout</a>
                            <% } else { %>
                                <a class="nav-link logout-btn" onclick="logout()" href="/user/logout"><i
                                        class="fa-solid fa-arrow-right-from-bracket"></i>
                                    Logout</a>
                                <% } %>
                                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>