<!-- /Navbar -->
<div class="bg-warning">
    <div class="container">
        <div class="nav-menu-user">
            <div class="person-intro">
                Welcome,
                <b id="person">Name-of-the-Person</b>
            </div>
            <a href="#" class="link-dark font-weight-bold navbar-icon"><img class="icon" src="/img/dashboard.png" />
                Dashboard</a>
        </div>
    </div>
</div>