<div class="bg-warning">
    <div class="container">
        <div class="nav-menu-user">
            <div class="person-intro">
                Welcome,
                <b id="person">
                    <%= User.name %>
                </b>
            </div>
            <a href="/AddTenament/<%= User._id %> " class="link-dark font-weight-bold navbar-icon"><i
                    class="fa-solid fa-circle-plus"></i>
                <strong>Add Tenment Number</strong></a>
        </div>
    </div>
</div>