<div class="bg-warning">
    <div class="container">
        <div class="nav-menu-user">
            <div class="person-intro">
                Welcome,
                <a class="userEdit" href="/user/BillDashbord/userProfile">
                    <b id="person">
                        <%= User.name%>
                    </b></a>
            </div>
        </div>
    </div>
</div>