:root {
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
    --white: white;
    --yellow-btn: rgb(255, 193, 7);
    --login-btn: rgb(13, 110, 253);
    --forgate: rgb(149, 78, 255);
    --green-btn: rgb(25, 135, 84);
    --green-btn-click: rgba(25, 135, 84, 0.5);
}

.banner {
    background-image: url(/img/Purpal.png);
    height: 150px;
    width: 100%;
}

.main-container {
    border-radius: 5px;
    background-color: rgb(248, 249, 250);
    width: calc(100% - 250px);
    padding: 20px 20px;
    margin: auto;
}

.hid {
    padding: 25px;
}

.nav-menu-user {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 6px;
}

.nav-menu-user .navbar-icon {
    text-decoration: none;
    position: absolute;
    right: 150px;
}

.icon {
    width: 30px;
    padding: 0 4px;
}

.purpel-text {
    color: #4e109f;
    font-size: 30px;
    padding-left: 50px;
}

/* form CSS */
.redTick {
    color: red;
}

.txt-dark {
    color: var(--dark);
}

.new_user {
    max-width: calc(100% - 100px);
    margin: auto;
}

#add_user .from-group {
    margin: 0.4em 0;
}

#add_user .from-group input[type="text"],
#add_user .from-group input[type="password"],
#add_user .from-group input[type="number"] {
    width: 100%;
    padding: 0.6em 1em;
    margin: 0.5em 0;
    border: 1px solid var(--border);
    font-size: 1em;
    border-radius: 0.2em;
}

/* Footer */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* index page */
.img-DDO {
    display: flex;
    justify-content: center;
}

.index-DDO {
    width: 100px;
}

.end {
    display: flex;
    justify-content: end;
}

.signUp-btn a {
    color: var(--yellow-btn);
    text-decoration: none;
    border: 1px solid var(--yellow-btn);
    border-radius: 6px;
    padding: 5px 10px;
    margin: 4px 4px;
}

.signUp-btn a:hover {
    color: var(--white);
    background-color: var(--yellow-btn);
}

.login-btn a {
    color: var(--login-btn);
    text-decoration: none;
    border: 1px solid var(--login-btn);
    border-radius: 6px;
    padding: 5px 10px;
    margin: 4px 4px;
}

.login-btn a:hover {
    color: var(--white);
    background-color: var(--login-btn);
}

.forgot {
    color: var(--forgate);
    text-decoration: none;
}

.forgot:hover {
    color: var(--forgate);
    text-decoration: underline;
}

/* Index Page Footer */
.index-footer {
    max-width: 80%;
    margin: auto;
    padding: 40px;
}
.contact {
    display: flex;
    justify-content: space-evenly;
}

/* Bill page */
.back-to-page {
    text-decoration: none;
    position: absolute;
    right: 150px;
    top: 195px;
}

.Pay-btn {
    color: var(--green-btn);
    text-decoration: none;
    border: 1px solid var(--green-btn);
    border-radius: 6px;
    padding: 5px 10px;
    margin: 4px 4px;
}

.Pay-btn:hover {
    color: var(--white);
    background-color: var(--green-btn);
}

.pay {
    position: relative;
    padding: 4px;
}

.pay-text {
    font-size: 20px;
    margin-top: 6px;
    text-align: center;
}

.pay-all {
    color: var(--green-btn);
    text-decoration: none;
    border: 1px solid var(--green-btn);
    border-radius: 6px;
    padding: 5px 16px;
    margin: 4px 4px;
}

.pay-all:hover {
    color: var(--white);
    background-color: var(--green-btn);
}

/* tax Details page */
.rebate {
    color: green;
    font-weight: bold;
}

.amount b {
    font-size: 25px;
}

.amount p {
    font-size: 40px;
    color: rgb(148, 22, 22);
    font-weight: bold;
}

.tax-pay-btn {
    margin-right: auto;
    margin-left: auto;
}

.tax-pay {
    width: 100%;
    color: var(--green-btn);
    text-decoration: none;
    border: 1px solid var(--green-btn);
    border-radius: 6px;
    padding: 10px;
}

.tax-pay-click {
    width: 100%;
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--green-btn-click);
    border-radius: 6px;
    padding: 10px calc(100% - 635px);
    background-color: var(--green-btn-click);
}

.tax-pay:hover {
    color: var(--white);
    background-color: var(--green-btn);
}

.download-btn {
    width: 100%;
    color: var(--green-btn);
    text-decoration: none;
    border: 1px solid var(--green-btn);
    border-radius: 6px;
    padding: 10px 540px;
}

.download-btn:hover {
    color: var(--white);
    background-color: var(--green-btn);
}

.chart {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
}

.chart-item {
    width: 400px;
    margin: auto;
}

.line-chart {
    width: 700px;
    margin: auto;
}

/* template */
.disable {
    display: none;
}

/*User login page || Sign Page*/

.btn-outline-warning:hover {
    color: var(--white);
    background-color: var(--yellow-btn);
}

/* User Details  */

.userEdit {
    text-decoration: none;
    color: black;
}

.userEdit:hover {
    color: var(--white);
}

.userdata {
    display: flex;
}

.userdata > div,
.userdata > strong {
    padding: 3px;
}

.back-billboard {
    display: flex;
}

.billbord {
    padding-left: 750px;
    text-decoration: none;
}

/* admin Sign up */
.admin-post {
    display: flex;
}

/* Admin Dashboard > Details */

.name,
.email,
.tenament,
.number,
.code {
    display: flex;
    padding: 5px;
}

.name > div {
    padding-left: 115px;
}
.email > div {
    padding-left: 120px;
}
.tenament > div {
    padding-left: 95px;
}
.number > div {
    padding-left: 50px;
}
.code > div {
    padding-left: 100px;
}

.userDetails {
    font-size: 15px;
}

.search {
    display: flex;
}
.person-intro {
    display: flex;
}

.space-600 {
    width: 600px;
}

.space-1000 {
    width: 1000px;
}

a.User-details-for-admin {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.User-details-for-admin:hover {
    color: var(--white);
}

a.Tenament-add {
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.Tenament-add:hover {
    color: var(--white);
}

a.report {
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.report:hover {
    color: var(--white);
}

/* payment-success */
.Center-text {
    text-align: center;
}

/* user Details Edit (add / remove tenment Page) */
.alert-table {
    background-color: rgb(255, 246, 247);
    color: rgb(132, 32, 41);
}

/* Report Page */
.grid-2-bills {
    display: grid;
    grid-template-columns: auto auto;
}
